extends ./_layouts/_base

block title
  title Cansat Mapping
block meta
  meta(name="description", content="description")
block link
  // build:css({.tmp,app}) style/main.min.css
  link(rel='stylesheet' href='style/main.css')
  link(rel='stylesheet' href='style/balloon.css')
  link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Audiowide' type='text/css')
  // endbuild

block body
  body
    #cesiumContainer
    script(src="scripts/main.js")
      
