extends ./_layouts/_base

block title
  title cansatmapping
block meta
  meta(name="description", content="description")
block link
  // build:css({.tmp,app}) styles/main.min.css
  link(rel='stylesheet' href='styles/main.css')
  // endbuild

block body
  body
    #cesiumContainer
    script(src="scripts/main.js")
      
